* {
  font-family: "Open Sans", sans-serif;
}
nav {
  background-color: #e83e8c;
  font-size: 16px;
}
.navbar-brand img {
  max-width: 50%;
}
#nuestros-productos h1 {
  color: #707070;
}
.card-text {
  font-size: 1rem;
}
.card-body,
.list-group-item {
  font-size: 0.75rem;
}
.icon-section {
  background-color: #17a2b8;
  color: #ffffff;
}
footer {
  background-color: #e83e8c;
  color: #ffffff;
  height: 184px;
}
footer img {
  margin-top: 30px;
  width: 3.3rem;
}
  

